.container {
    display: flex;
    height: 100vh;

    textarea {
        width: 600px;
        border: none;
        background-color: #f9f9f9;
        font-family: Arial, sans-serif;
        font-size: 18px;
        line-height: 1.5;
        padding: 10px;
        color: #333;
        outline: none;
    }

    .preview {
        padding: 1px 20px;
        flex: 1;
        overflow-y: auto;

        :global .code-block {
            background-color: rgb(249, 249, 249);
            padding: 10px;
            font-size: 12px;
            border-radius: 10px;

            pre {
                margin: 0;
                [class*="language-"] {
                    white-space: pre-wrap;
                    word-wrap: break-word;
                    word-break: break-all;
                    overflow-wrap: break-word;
                }
            }
        }

        table {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th,
        td {
            border: 1px solid black;
            padding: 8px;
            /* 可选，为单元格添加内边距 */
        }

        blockquote {
            margin-left: 0;
            border-left: 4px solid #ccc;
            /* 外边距 */
            padding: 10px 20px;
            /* 内边距 */
            background-color: #f9f9f9;
            /* 背景色 */
            font-style: italic;
            /* 斜体 */
            color: #555;
            /* 字体颜色 */
            quotes: "“""”""‘""’";
            /* 引号样式 */
        }

        blockquote:before {
            content: open-quote;
            /* 引用开始符号 */
        }

        blockquote:after {
            content: close-quote;
            /* 引用结束符号 */
        }

        blockquote p {
            display: inline;
            /* 行内显示 */
        }
    }
}
